@import '/styles/colors';
@import '/styles/breakpoints';


.sidebar{
    padding: 2rem;
    

    .sidebar__org{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: .5rem;
    }

    @include xl{
        .sidebar__org{
            display: none;
        }
    }

    .sidebar__dash{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 2rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $dark-blue;

        @include xl{
            display: none;
        }
    }

    .sidebar__items{
        margin: 1rem 0;

        h4{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: $dark-blue2;
            margin-bottom: 10px;
        }

        @include xl{
            h4{
                 display: none;
            }
        }

        ul{
            li{
                list-style: none;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 1rem;

                p, span{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: $dark-blue;
                }

                @include xl{
                    p{
                         display: none;
                    }

                    span{
                        font-size: 2rem;
                    }
                }   
            }
            @include xl{
                li{
                    margin-bottom: 1.8rem;
                }
            }
        }
        @include xl{
            ul{
                margin-bottom: 3rem;
                border-bottom: 1px solid $dark-blue;
            }
        }
    }

    .sidebar__logout{
        border-top: 1px solid $dark-blue;
        margin-top: 2rem;

        @include xl{
            border: none;
        }

        p{
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 1rem;
            cursor: pointer;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $dark-blue;
        }
        @include xl{
            p{
                font-size: 2rem;
                 span{
                    display: none;
                 }
            }
        }
    }
}

@include md{
    .sidebar{
        padding: 1rem !important;
    }
}