@import '../../styles/colors';
@import '../../styles/breakpoints';

.tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    

    .tabs, .active-tabs{
        padding: 15px;
        border: none;
        background-color: transparent;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    @include md{
        .tabs, .active-tabs{
            padding: 13px;
            font-size: 14px;
        }
    }

    .active-tabs{
        border-bottom: 2px solid $blue;
        color: $blue;
    }
}

@include md{
    .tab{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }
}